In [1]:
#install selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\91770\anaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91770\anaconda3\lib\site-packages (from selenium) (0.10.4)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91770\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\91770\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91770\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: sortedcontainers in c:\users\91770\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\91770\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: idna in c:\users\91770\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\91770\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\91770\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91770\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91770\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\91770\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91770\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91770\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91770\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import pandas as pd
import os
from time import sleep
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.action_chains import ActionChains

from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.by import By
import urllib
import pathlib
import datetime

### Que1.- Scrape the details of most viewed videos on YouTube from Wikipedia:Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details:
#### A) Rank
#### B) Name
#### C) Artist
#### D) Upload date
#### E) Views

In [12]:
#connect to the web driver
driver = webdriver.Chrome()

#Get url in web driver first
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
#the url will open

In [13]:
all_box = driver.find_elements(By.XPATH,'//div[@id="mw-content-text"]//table[@class="wikitable sortable jquery-tablesorter"]//tbody/tr')

In [19]:
all_data = []
for one_box in all_box[:30]:
    rank = one_box.find_elements(By.XPATH,'.//td')[0].text
    name = one_box.find_elements(By.XPATH,'.//td')[1].text
    artist = one_box.find_elements(By.XPATH,'.//td')[2].text
    views = one_box.find_elements(By.XPATH,'.//td')[3].text
    upload_date = one_box.find_elements(By.XPATH,'.//td')[4].text
    
    all_data.append({
        'rank' : rank,
        'name' : name,
        'artist' : artist,
        'views' : views,
        'upload_date' : upload_date,
    })

df = pd.DataFrame(all_data)
df

,rank,name,artist,views,upload_date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.82,"October 8, 2016"
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.45,"May 2, 2018"
4,5.,"""Shape of You""[19]",Ed Sheeran,6.11,"January 30, 2017"
5,6.,"""See You Again""[22]",Wiz Khalifa,6.05,"April 6, 2015"
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.62,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.52,"March 6, 2014"
8,9.,"""Uptown Funk""[29]",Mark Ronson,5.05,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,4.99,"February 27, 2018"
10,11.,"""Gangnam Style""[31]",officialpsy,4.92,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.56,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,4.46,"April 5, 2018"
13,14.,"""Axel F""[38]",Crazy Frog,4.09,"June 16, 2009"
14,15.,"""Sugar""[39]",Maroon 5,3.95,"January 14, 2015"
15,16.,"""Counting Stars""[40]",OneRepublic,3.89,"May 31, 2013"
16,17.,"""Roar""[41]",Katy Perry,3.89,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.80,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.75,"June 4, 2010"
19,20.,"""Sorry""[44]",Justin Bieber,3.72,"October 22, 2015"
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.71,"June 14, 2018"
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.67,"October 7, 2014"
22,23.,"""Dark Horse""[47]",Katy Perry,3.60,"February 20, 2014"
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.58,"January 26, 2018"
24,25.,"""Perfect""[49]",Ed Sheeran,3.56,"November 9, 2017"
25,26.,"""Let Her Go""[50]",Passenger,3.53,"July 25, 2012"
26,27.,"""Faded""[51]",Alan Walker,3.53,"December 3, 2015"
27,28.,"""Girls Like You""[52]",Maroon 5,3.50,"May 31, 2018"
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,3.48,"May 10, 2011"
29,30.,"""Lean On""[54]",Major Lazer Official,3.48,"March 22, 2015"

In [20]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details:
* A) Match title (I.e. 1 st ODI)
* B) Series
* C) Place
* D) Date
* E) Time
###### Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [55]:
#connect to the web driver
driver = webdriver.Chrome()

#Get url in web driver first
url = 'https://www.bcci.tv/'
driver.get(url)
#the url will open

In [56]:
driver.find_element(By.XPATH,'/html/body/header/div[3]/div[1]/ul/div[1]/a[2]').click()

In [57]:
driver.find_element(By.XPATH,'//a[contains(text(),"Fixtures")]').click()

In [59]:
search = driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[1]/div[2]/div/div[1]/div/div[2]/div[1]/input')
search.send_keys('india')
search.click()

In [80]:
all_list = []

date_time_elements = driver.find_elements(By.XPATH, '//div[@class="match-date-info"]')
series_elements = driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
place_elements = driver.find_elements(By.XPATH, '//div[@class="match-place ng-scope"]')

for i in range(len(date_time_elements)):
    date_time = date_time_elements[i].text
    series = series_elements[i].text
    place = place_elements[i].text

    all_list.append({
        'series': series,
        'place': place,
        'date_time': date_time,
    })

df = pd.DataFrame(all_list)

In [85]:
df.head()

,series,place,date_time
0,ICC MENS WORLD CUP 2023,"Narendra Modi Stadium, Ahmedabad","14 OCTOBER, 2023\n2:00 PM IST"
1,ICC MENS WORLD CUP 2023,"Arun Jaitley Stadium, Delhi","11 OCTOBER, 2023\n2:00 PM IST"
2,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium, Chennai","8 OCTOBER, 2023\n2:00 PM IST"
3,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium, Pune","19 OCTOBER, 2023\n2:00 PM IST"
4,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium, ...","22 OCTOBER, 2023\n2:00 PM IST"

In [86]:
driver.close()

# 3. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details:
* Rank
* State
* GSDP at current price (19-20)
* GSDP at current price (18-19)
* Share(18-19)
* GDP($ billion)
##### Note: - From statisticstimes home page you have to reach to economy page through code.

In [3]:
#connect to the web driver
driver = webdriver.Chrome()

#Get url in web driver first
url = 'https://statisticstimes.com/'
driver.get(url)
#the url will open

In [4]:
click_economy_button = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

In [ ]:
click_inida = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [12]:
click_indian_state = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [13]:
all_boxes = driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr')

In [14]:
all_data = []

for one_box in all_boxes:
    rank = one_box.find_elements(By.XPATH, './/td')[0].text
    state = one_box.find_elements(By.XPATH, './/td')[1].text
    gsdp_at_current_price_19_20_ = one_box.find_elements(By.XPATH, './/td')[2].text
    gsdp_at_current_price_18_19 = one_box.find_elements(By.XPATH, './/td')[3].text
    share_18_19 = one_box.find_elements(By.XPATH, './/td')[4].text
    gdp_billion = one_box.find_elements(By.XPATH, './/td')[5].text

    all_data.append({
        'rank': rank,
        'state': state,
        'gsdp_at_current_price_19_20_': gsdp_at_current_price_19_20_,
        'gsdp_at_current_price_18_19': gsdp_at_current_price_18_19,
        'share_18_19': share_18_19,
        'gdp_billion': gdp_billion,
    })

df = pd.DataFrame(all_data)

In [15]:
df

,rank,state,gsdp_at_current_price_19_20_,gsdp_at_current_price_18_19,share_18_19,gdp_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [16]:
driver.close()

# 4. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
* A) Repository title
* B) Repository description
* C) Contributors count
* D) Language used

In [47]:
#connect to the web driver
driver = webdriver.Chrome()

#Get url in web driver first
url = 'https://github.com/trending'
driver.get(url)
#the url will open

In [69]:
repository_title = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
repository_description = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')   
contributors_count = driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')      
languages_used_elemens = driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')

In [70]:
all_data.append({
        'repository_title': repository_title,
        'repository_description': repository_description,
        'contributors_count': contributors_count,
        'language_used': ', '.join(language_used),
    })

In [71]:
df = pd.DataFrame(all_data)

In [72]:
df

,repository_title,repository_description,contributors_count,language_used
0,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,"G, o"
1,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,"G, o"
2,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,"G, o"
3,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,"G, o"
4,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,"G, o"
5,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,"G, o"
6,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,[<selenium.webdriver.remote.webelement.WebElem...,"G, o"

# 5. Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/ You have to find the following details:
* A) Song name
* B) Artist name
* C) Last week rank
* D) Peak rank
* E) Weeks on board
##### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [73]:
#connect to the web driver
driver = webdriver.Chrome()

#Get url in web driver first
url = 'https://www.billboard.com'
driver.get(url)
#the url will open

In [ ]:
driver.find_element_by_xpath('//li[@class="header__subnav__item"]/a[text()="Hot 100"]').click()

In [ ]:
all_boxes = driver.find_elements_by_xpath('//li[contains(@class,"list__element")]/button')

In [ ]:
song_name = one_box.find_element_by_xpath('')
artist_name = one_box.find_element_by_xpath('')
last_week_rank = one_box.find_element_by_xpath('')
peak_rank = one_box.find_element_by_xpath('')
weeks_on_board = one_box.find_element_by_xpath('')

# 6. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/ You have to find the following details:
* A) Book name
* B) Author name
* C) Volumes sold
* D) Publisher
* E) Genre

In [35]:
#connect to the web driver
driver = webdriver.Chrome()

#Get url in web driver first
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
#the url will open

In [36]:
all_box = driver.find_elements(By.XPATH,'//tbody/tr')

In [40]:
all_list = []

for one_box in all_box:
    
    book_name = one_box.find_elements(By.XPATH,'.//td')[1].text
    author_name = one_box.find_elements(By.XPATH,'.//td')[2].text
    volumes_sold = one_box.find_elements(By.XPATH,'.//td')[3].text
    publisher = one_box.find_elements(By.XPATH,'.//td')[4].text
    genre = one_box.find_elements(By.XPATH,'.//td')[5].text

    all_list.append({
        'book_name': book_name,
        'author_name': author_name,
        'volumes_sold': volumes_sold,
        'publisher': publisher,
        'genre': genre,
    })
    
df = pd.DataFrame(all_list)

In [41]:
df

,book_name,author_name,volumes_sold,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [42]:
driver.close()

# 7. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
* A) Name
* B) Year span
* C) Genre
* D) Run time
* E) Ratings
* F) Votes

In [43]:
#connect to the web driver
driver = webdriver.Chrome()

#Get url in web driver first
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)
#the url will open

In [44]:
all_boxes = driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]')

In [45]:
all_list = []
for one_box in all_boxes:
    
    name = one_box.find_element(By.XPATH,'.//h3/a').text
    year_span = one_box.find_element(By.XPATH,'.//h3/span[2]').text
    genre = one_box.find_element(By.XPATH,'.//p/span[@class="genre"]').text
    run_time = one_box.find_element(By.XPATH,'.//p/span[@class="runtime"]').text
    ratings = one_box.find_element(By.XPATH,'.//div[@class="ipl-rating-star small"]').text
    votes = one_box.find_element(By.XPATH,'.//span[@name="nv"]').text
    
    all_list.append({
        'name': name,
        'year_span': year_span,
        'genre': genre,
        'run_time': run_time,
        'ratings': ratings,
        'votes': votes,
    })
    
    
df = pd.DataFrame(all_list)
df

,name,year_span,genre,run_time,ratings,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,213,222"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,283,075"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,170"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,593"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,532"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,949"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,023"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,891"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,098"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"269,791"

In [46]:
driver.close()

# 8. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details:
* A) Dataset name
* B) Data type
* C) Task
* D) Attribute type
* E) No of instances
* F) No of attribute
* G) Year
##### Note: - from the home page you have to go to the Show All Dataset page through code

In [75]:
#connect to the web driver
driver = webdriver.Chrome()

#Get url in web driver first
url = 'https://archive.ics.uci.edu/'
driver.get(url)
#the url will open

In [ ]:
driver.find_element_by_xpath('//b').click()

In [80]:
all_boxes = driver.find_elements(By.XPATH,'//table[@cellpadding="5" and @border="1"]/tbody/tr')

In [81]:
all_list = []
for i, one_box in enumerate(all_boxes):
    
    # Skiping Column
    
    if i == 0:
        continue
        
    dataset_name = one_box.find_elements_by_xpath('.//td')[0].text
    data_type = one_box.find_elements_by_xpath('.//td')[1].text
    task = one_box.find_elements_by_xpath('.//td')[2].text
    attribute_type = one_box.find_elements_by_xpath('.//td')[3].text
    no_of_instances = one_box.find_elements_by_xpath('.//td')[4].text
    no_of_attribute = one_box.find_elements_by_xpath('.//td')[5].text
    year = one_box.find_elements_by_xpath('.//td')[6].text


    
    all_list.append({
        'dataset_name':dataset_name ,
        'data_type':data_type ,
        'task':task ,
        'attribute_type':attribute_type ,
        'no_of_instances':no_of_instances ,
        'no_of_attribute':no_of_attribute ,
        'year':year ,
    })
    
    
df = pd.DataFrame(all_list)
df

Empty DataFrame
Columns: []
Index: []